.footer{
    background-color:rgb(132, 120, 50);
    padding: 20px;

}
.footer .textfoot{
    text-align: center;
    margin: 0 auto;
    text-shadow: #555;
    font-style: italic;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
